<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Our Services</title>


</head>
<body>
    <div class="main">
        <h2>⅃EXIमंत्र</h2>
      <div class="container">
        <h1 style="color: #14cdc8; text-align: center;">Welcome {{ username }}  😎</i></h1>
        <section class="services">
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa fa-spinner"></i></div>
                    <div class="title">Dyslexia Identification</div>
                    <a href="test">Let's identify</a>
                </div>
            </div>
        </section>
      </div>
</div>
</body>
</html>