<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Our Services</title>
</head>
<body>
    <div class="main">
        <h2>⅃EXIमंत्र</h2>
      <div class="container">
        <section class="services">
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa fa-headphones"></i></div>
                    <div class="title">Audio</div>
                    <a href="audio">Let's Listen</a>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa fa-gamepad"></i></div>
                    <div class="title">Shuffle Game</div>
                    <a href="shuffle">Let's play</a>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa fa-laptop"></i></div>
                    <div class="title">Quiz</div>
                    <!-- <a href="shuffle">Let's See</a> -->
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSd2umIWvGTCa_4uUHsXeXbvm-8TBlVDNGfjR608Q2I7bQsSFA/viewform?usp=sf_link">Quiz</a>
                </div>
            </div>
        </section>
      </div>
</div>
</body>
</html>