<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style1.css') }}">
    <title>Level 1</title>
</head>
<body>
    <header>⅃EXIमंत्र</header>
    
    <div class="container">
        <h1>There is a high chance of the applicant to have dyslexia.</h1>
        <h3> You'd better consult a doctor. Help Line Number : <a href="https://www.dyslexiaindia.org.in/Contact-us-new.html" style="color:red; ">  Link </a></h3>
        <h3>You can get more information of dyslexia here : <a href="https://www.ninds.nih.gov/health-information/disorders/dyslexia" style="color:red;"> Learn More</a></h3>  
    </div>
    <div class="content"><a href="level_one">So Let's Play With Lexis🥳 </a></div>
        
</body>
</html>